body {
    font-family: 'Red Hat Display', sans-serif;
}

.order {
    height: 100vh;
    width: 100vw;
    background-color: #E0E8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.card {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #FFF;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
}

.card-img {
    width: 100%;
    height: 220px;
    border-radius: 20px 20px 0 0;
}

.order-content {
    padding: 48px;
    text-align: center;
}

.order-title {
    color: #1F2E55;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
}

.order-text {
    color: #717FA6;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 17px 0 20px;
}

.order-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F9FF;
    border-radius: 11px;
    padding: 25px 24px;
}

.order-plan-left {
    display: flex;
}

.order-plan-left-desc {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.annual {
    font-weight: 900;
    line-height: 21px;
    color: #1F2E55;
}

.price {
    font-weight: 500;
    line-height: 21px;
    color: #717FA6;
}

.order-plan-right {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #382AE1;
}

.order-plan-right:hover {
    color: #766CF1;
    text-decoration: none;
}

.payment-button {
    margin: 32px 0;
    padding: 15px 102px;
    background: #382AE1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    border-radius: 11px;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}

.payment-button:hover {
    background: #766CF1;
}

.cancel-button {
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    color: #717FA6;
    text-decoration: none;
}

.cancel-button:hover {
    color: #1F2E55;
}